@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";
body {
  background: #ffffff;
  font-family: 'Open Sans';
  min-height: 100vh;
  position: relative;
  margin: 0;
}
p{
  font-size: 10px;
}
.container-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.message-listing {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  @include media-breakpoint-up(xs) {
    max-height: 30rem;
  }
  @include media-breakpoint-up(md) {
    max-height: 35rem;
  }
}
.message-item {
  border: 1px solid $border-color;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: white;
}
.shop-listing {
  overflow-y:scroll;
  padding: 1rem;
  @include media-breakpoint-up(xs) {
    height: 50rem;
  }
  @include media-breakpoint-up(md) {
    height: 70rem;
    padding-bottom: 30rem;
  }
}
.shop-item {
  border: 1px solid $border-color;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  background-color: white;
}

.shop-icon { color:green;}
.shop-icon :hover {
  color:black;
}
.btn-small {
 padding: 0px;
}
.count-down div{
 margin-top:-15px;
 margin-left:54px;
}